# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/
dist/

# Local envs
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Turbo
.turbo
